GOPHKEEPER_LOGGING_LEVEL="INFO"

GOPHKEEPER_AUTH_SECRET_KEY="secret"

GOPHKEEPER_SECRET_SECRET_KEY="secret"

GOPHKEEPER_DB_DSN="postgres://postgres:your_passwrd@localhost:5432/gophkeeper?sslmode=disable"
GOPHKEEPER_DB_MIGRATIONS_PATH="file://./migrations"

GOPHKEEPER_GRPC_SERVER_ADDRESS=":50051"

GOPHKEEPER_TLS_CERT_FILE_PATH="./resources/ssl/cert.pem"
GOPHKEEPER_TLS_KEY_FILE_PATH="./resources/ssl/key.pem"
GOPHKEEPER_TLS_SKIP_VERIFY="false"